*{margin:0;
padding:0;
box-sizing:border-box;
font-family: 'montserrat';
color: #fff;
}

html,body{height:100%;
width:100%;}
#nav{
    height: 140px;;
    width:100%;
    /* background-color:black; */
    display:flex;
    position:fixed;
    align-items:center;
    justify-content:flex-start;
    gap:25px;
    padding:30px 45px;
    z-index:99;

}
#nav img{
    height:65px;
    width:150px;
    
}
#cursor{
    height:20px;
    width:20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index:99;
    
    
}
#cursor-blur{
    height:350px;
    width:350px;
    background-color: #96c11e69;
    border-radius: 50%;
    position: fixed;
    filter:blur(80px);
    z-index: 10;
}
#nav h4{
    font-weight:300;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.396);

}
#page1{
    height: 100vh;
    width: 100%;
    position:relative;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;

}
#page1 h1{
    font-size: 100px;
    font-weight: bolder;
    position: relative;
    
}
#page1 h1::before{
    content: "Eat. Drink. Play.";
    position: absolute;
    color: black;
    top:-4px;
    left:-4px;
    -webkit-text-stroke: 1px rgb(56, 221, 122);
    z-index: -1;
    

}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
 margin-bottom: 13px;
}
#page1 p{
    font-size: 18ppx;
    font-weight: lighter;
    width: 60%;
    
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller {
    
    white-space: nowrap;
    /* background-color: #95c11e; */
     overflow: hidden;
    

}

#scroller-in{
     white-space: nowrap;
    display: inline-block;
     
    animation-name:scroll;
 animation-duration: 20s;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
 position: relative;
     z-index: 10;
  
}
#scroller h4{
        display: inline-block;
    font-size: 110px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 20px;
    -webkit-text-stroke:1px white;
    color:transparent;
    transition: 0.5s;
    z-index: 99;

}
#scroller h4:hover{
    color: #95c11e;
}

   

@keyframes scroll{
    from{
        transform:translateX(0)
    }
    to{
        transform: translateX(-100%);
    }
}

#about-us{
    height: 30vh;
    width:100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:0 60px;
    
    
    
}
#about-us img{
    height:130px;
    width:120px;
    border-radius: 10px;
    object-fit: cover;
    margin-top:330px;
    position: relative;
    z-index: 10;
}
#about-us-in h3{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    padding:20px;
    margin-top: 220px;
    

}
#about-us-in p{
    
    text-align: center;
    width:550px;
    font-size: 15px;
    padding: 10px;
    line-height: 35px;

}
#cards-container{
    height:65vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 200px;
    align-items: center;
    padding: 45px;
    display: flex;
    gap:70px;
    justify-content: center;
    z-index: 10;
    position: relative
    ;

}
.card{
    height: 80%;
    width:22%;
    /* background-color: blue; */
    border-radius: 18px;
    background-size: cover;
    background-position: center;
    overflow:hidden;
    transition: all ease 0.6s;
    perspective: 800;
}
#cd1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&w=960&ssl=1);
    
}
#cd2{
    background-image: url(https://imgs.search.brave.com/eaFkgeWBApQnaetEaLkxH9_HGUOsA3b4YOJ8dSC4dc8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTgy/ODU5MTI3L3Bob3Rv/L2dsZW5lYWdsZXMt/Z29sZi1raW5ncy1j/b3Vyc2UtcGVydGhz/aGlyZS1zY290bGFu/ZC5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9bHlTbFlXODJE/cmRKR2pqV19iWnZy/dXRfZ25XVFhUWHJH/eDBtYjRtWXB1cz0);
}
#cd3{
    background-image: url(https://imgs.search.brave.com/SuhuZInbjYBtAlnVsgBw7LASJqdMLDyWX06TMPg1ugg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzUwL2Qx/L2M1LzUwZDFjNTA0/ZjZiMTRiZmY3Yjg1/YTNmMjcyNWMzODY1/LmpwZw)}

.overlay{
    height: 100%;
    width:100%;
    background-color: #95c11e;
    
 padding-top:65px;
 transition:all ease 0.6s;
 opacity:0;
}
.overlay h4{
   
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    color: black;
}
.overlay p{
    
    padding: 5px 20px;
    font-size: 15px;
    color: black;
    font-weight: 500;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform:rotate3d(-1,1,0,18deg)
    
}
#green-container{
    display: flex;
    height: 30vh;
    width:100%;
    /* background-color:rgb(166, 9, 9); */
    justify-content: space-between;
    padding: 5px;
    /* background: linear-gradient(45deg, rgb(168, 255, 62) ,  darkgreen); */

   background: linear-gradient(135deg, #d4e157, #8bc34a, #00813c);


}
#green-container h4{
    margin:25px;
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    width: 45%;
    line-height: 50px;
    color: black;
}
#green-container img{
    object-fit: cover;
    width: 20vh;
}
#page3{
    height:100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    display: flex;
    position: relative;
}
#page3>p{
    font-size:23px;
    font-weight: 700;
    width:55%;
    text-align: center;
    line-height:37px;

}
#page3 img{
    position: absolute;
    height:40px;

}
#page3 #col1{
    left:17%;
    top:29%;
}
#page3 #col2{
    right:18%;
    top:65%;
}